.cuerpo{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin:0px;
    padding:0px;
    background-color: #18181A;
}

.izquierda{
    position: absolute;
    width: 18%;
    height: 100%;
    color:white;
}

.izquierda ul li{
    list-style: none;
    padding: 5% ;
    opacity: 0.5;
    transition: .4s;
}

.izquierda ul li a{
    text-decoration: none;
    color:white;
    opacity: .9;
    font-size: large;
}

.izquierda ul li:hover{
    opacity: 1;
    color:white;
}

.izquierda ul img{
    height: 30px;
    transition: .5s;
    padding-right: 10%;
}

.logo {
    width: 65%;
    padding-left: 25%;
    padding-top: 15%;
    padding-bottom: 30%;
    transition: .5s;
}

.logo:hover{
    transform: scale(1.2);
}

.cabecera{
    margin-left: 18%;
    border-left:2px solid #262628;
    padding: 2%;
}

.log-in{
    font-size: medium;
    text-decoration: none;
    color:gray;
    transition: .4s;
    float: right;
    background-color: #262628;

    padding-left: 2%;
    padding-right: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right:1px solid #18181A;
}

.log-in:hover{
    text-decoration: none;
    background-color: #363638;
    color:white;
}

.sing-in{
    font-size: medium;
    text-decoration: none;
    color:gray;
    transition: .4s;
    float: right;
    background-color: #262628;

    padding-left: 1.5%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-left:1px solid #18181A;
}

.sing-in:hover{
    text-decoration: none;
    background-color: #363638;
    color:white;
}

.barra-busqueda{
    width: 30%;
    display: inline-block;
    background-color: #262628;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-size: large;
}

.busqueda{
    margin-left: 5%;
    width: 80%;
    height: 50px;
    background: none;
    border: none;
    color: #858689;
    outline: none;
}

.boton-busqueda{
    opacity: 0.5;
    background: none;
    border: none;
    cursor: pointer;
}

.contenido{
    margin-left: 18%;
    border-left:2px solid #262628;
    min-height: 900px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.titulo-pagina{
    text-align: center;
    color:White;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 1%;
    opacity: .5;
}

.titulo-pagina img{  
    height: 60px;
    padding-right: 2%;
}

.fila{
    padding-left: 3%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
}

.juego {
    color: gray;
    text-decoration: none;
    text-align: center;
    transition: .4s;
}

.juego:hover{
    opacity: 1;
    color: white;
    text-decoration: none;
}

.titulo{
    text-align: left;
    font-size: 25px;
    font-weight: 500;

}
.tituloR{
    font-size: 20px;
    font-weight: 500;    
}

.tituloTE{
    font-size: 16px;
    font-weight: 500;
        
}

.tituloLG{
    font-size: 17px;
    font-weight: 500;
}

.tituloTL{
    font-size: 20px;
    font-weight: 500;
}

.precio{
    display: none;
    font-size: 20px;
    font-weight: 300;
}

.cover {
    opacity: 1;
    display: block;
    height: 350px;
    transition: transform .15s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
  
.cover:hover {
    transform: scale(1.05);
}

.navegacion{
    text-align: center;
    font-size: medium;
    font-weight: 400;
    padding: 3%
}

.boton{
    opacity: .5;
    color:White;
    text-decoration: none;
    transition: .4s;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 2%;
    margin-right: 5%;
    border-radius: 10px;
    background-color: #262628;
}

.boton:hover{
    opacity: 1;
    color:White;
    text-decoration: none;
    background-color: #363638;
}

.div {
    color: gray;
    text-decoration: none;
    margin-top: 0rem;
    margin-left: 53.3rem;
    background: transparent;
    border: 2px solid gray;
    padding: 16px 20px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.div:hover {
  color: #020202;
}

.div::after {
  content: "";
  background: #858689; 
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.div:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

.div2 {
    color: gray;
    text-decoration: none;
    margin-top: -2rem;
    margin-left: -30rem;
    background: transparent;
    border: 2px solid gray;
    padding: 16px 20px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.div2:hover {
  color: #020202;
}

.div2::after {
  content: "";
  background: #858689; 
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.div2:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}
  
.pie{
    position: absolute;
    width: 100%;
    background-color: #262628;
    color:white;
    text-align: center;
    padding: 3%;
}

.table{
    border: 2px solid white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    box-shadow: 0 5px 10px white;

}
.text-center{
    color:white;
}
th{
    color:white;
}

.formulario{
    background-color: white;
    border: 2px solid white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    width: 66%;
    margin-left: 200px;
    
}

.title-f{
   text-align: center;
    color: white;
    margin-bottom: 20px;
    text-decoration: underline;
}


.formulario h3{
    margin-top: 20px;
    margin-left: 25px;
}
.formulario input{
  
    width: 80%;
    height: 30%;
    margin-left: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.formulario label{
    width: 100%;
    margin-left: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}
.formulario button{
    width: 20%;
    height: 45px;
    
    margin-left: 320px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.mensaje {
    margin-left: 27px ;
    
}
.mensaje label{
    margin-left: -6px;
}
.texto_mensaje{
    width: 80%;
    height: 50px;
}

.nosotros{
    margin-top:1.8%;
    background-color: #26282c;
    font-size: 20px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: 1.5px solid greenyellow;

}
.nosotros p{
    margin-top: 2%;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.redes{
    margin-left: 280px;
}

.redes img{
    
    width: 200px;
    height: 200px;
}


